<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">8mylez Attribute</label>
    <label lang="en">8mylez Attribute</label>
    <version>1.0.0</version>
    <copyright>Copyright (c) 2018, Goltfisch GmbH</copyright>
    <license>proprietary</license>
    <link>http://8mylez.com</link>
    <author>8mylez</author>


    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>
